<h2 class="center">Welcome to God land stats</h2>

<div class="main-content">
	<div class="content left">
		<table>
			<thead>
				<tr>
					<th colspan="3">
						Stats for <%= @areas[0].name %>
					</th>
				</tr>
				<tr>
					<th>Temperature</th>
					<th>Unit</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				<% @areas[0].stats.each do |stat| %>
				<tr>
					<td><%= stat.value %></td>
					<td><%= stat.unit %></td>
					<td>
						<% stat.time[8] = ' ' %>
						<%= ("20" + stat.time + " UTC").in_time_zone('Sofia') %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="content right">
		<table>
			<thead>
				<tr>
					<th colspan="3">
						Stats for <%= @areas[1].name %>
					</th>
				</tr>
				<tr>
					<th>Temperature</th>
					<th>Unit</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				<% @areas[1].stats.each do |stat| %>
				<tr>
					<td><%= stat.value %></td>
					<td><%= stat.unit %></td>
					<td><% stat.time[8] = ' ' %>
						<%= ("20" + stat.time + " UTC").in_time_zone('Sofia') %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>